.loading-bar {
    --yellow: rgb(255, 255, 144);
    --height: 3px;
    position: fixed;
    opacity: 0;
    top: 0;
    left: -100vw;
    width: 200vw;
    height: var(--height);
    background-image: linear-gradient(to right, black,black 50%, var(--yellow) 50%, var(--yellow));
    transition: opacity 0.5s;
}

h1 {
    text-align: center;
}
body {
    padding: 0 5vw;
    margin: 0;
}
html {
    font-family: 'Poppins', sans-serif;
}
form {
    margin-bottom: 0;
}
form > fieldset {
    border-radius: 10px 10px 0 0;
    border: 3px solid lightgrey;
    border-bottom: solid white 3px;
    border-image: linear-gradient(lightgrey, white) 10;
}
@media (max-width: 800px) {
    form > fieldset {
        border: none;
    }
}
legend {
    background-color: black;
    color: white;
    padding: 2px 8px;
    border: solid 3px lightgoldenrodyellow;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.7rem;
}
ul.form-controls {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-top: 30px;
}
[for="url-input"] {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.2rem;
}
ul.form-controls > li {
    margin-bottom: 20px;
    text-align: center;
}
#url-input {
    width: max(50vw, 300px);
    border: solid 3px black;
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'IBM Plex Mono', monospace;
    padding: 3px 5px;
}
.download-link-cont {
    width: 100%;
    height: 450px;
    /* background: linear-gradient(#fafad2, transparent); */
    display: flex;
    justify-content: center;
    align-items: end;
    /* background-image: 
        linear-gradient(to right, white 30%, transparent 35% 65%, white 70%),
        linear-gradient(white 0% 100%); */
    background-size: auto, contain;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}
.download-link-cont > p {
    display: none;
    font-size: 1.3rem;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin-bottom: 10px;    
}
.download-title {
    font-size: 1.7rem;
    text-shadow: 2px 2px white;
    background-color: lightgoldenrodyellow;
    padding: 0 10px;
    display: inline-block;
}
.download-link {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 3px lightgoldenrodyellow;
    text-align: center;
    width: 5rem;
    margin: 3px auto 0;
}
[type="button"] {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.05rem;
    border: 2px solid black;
    transition: opacity 0.1s, transform 0.1s ease-in-out;
    font-family: 'Poppins', sans-serif;
}
#download-btn:active {
    opacity: 0.5;
}
[type="button"]:hover {
    cursor: pointer;
    transform: scale(1.07);
}


.already-downloaded-banner {
    --height: 60px;
    --width: max(50vw, 300px);
    box-sizing: border-box;
    position: fixed;
    bottom: calc(var(--height) * -2);
    left: calc((100vw - var(--width)) / 2);
    width: var(--width);
    height: var(--height);
    margin: 0;
    border: solid 3px lightgoldenrodyellow;
    background-color: black;
    color: white;
    padding: 5px 8px;
    text-align: center;
    
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    transition: bottom 0.5s;
}

.already-downloaded-banner > a {
    color: lightgoldenrodyellow;
    white-space: nowrap;
}

.toggle-sidepanel {
    --width-height: 35px;
    box-sizing: border-box;
    position: fixed;
    bottom: 15px;
    left: 20px;
    width: var(--width-height); height: var(--width-height);
    background-color:rgb(255, 255, 144);
    border: 3px solid black;
    border-radius: 50%;

    text-align: center;
    font-size: 1.05rem;
    font-weight: bolder;

    z-index: 1000;

    transition: transform 0.2s;
}

.toggle-sidepanel:hover {
    cursor: pointer;
    transform: scale(1.27);
}

.toggle-sidepanel > span {
    transform: translate(1px, 2px);
}

.files-panel {
    --width: 70vw;
    --height: 100vh;
    box-sizing: border-box;
    margin: 0;
    position: fixed;
    padding: 1em 0.8em 0 0.8em;
    height: var(--height);
    width: var(--width);
    left: calc(-1*var(--width));
    top: 0;
    box-shadow: 0 0 30px 5px rgb(190, 190, 190);
    border: solid 3px lightgoldenrodyellow;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 2000;
    opacity: 0;
    transition: left 0.25s, opacity 0.2s 0.05s ease-in-out;
    /* scrollbar-color: red black;
    scrollbar-width: thin; */
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-bottom: grey 4px solid;
    border-top: grey 4px solid;
}

::-webkit-scrollbar-track {
    background-color: lightgoldenrodyellow;
}

.files-panel > h2 {
    position: relative;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border-bottom: rgb(189, 189, 189) solid 2px;
}

.filter-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.files-panel__OPEN {
    left: 0;
    opacity: 1;
}

@media (max-width: 700px) {
    .files-panel {
        --width: 100vw;
    }
}

#close-side-panel {
    position: absolute;
    top: 5px;
    right: 20px;
    transition: transform 0.1s;
}

#close-side-panel:hover {
    cursor: pointer;
    transform: rotate(180deg) scale(1.2);
}

.files-list {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    height: calc(100vh - (3px * 2 + 1rem + 1.66rem * 2 + 3rem + 2px));
    overflow-y: scroll;
}

.files-list > li {
    flex: 0 0 2em;
}

.files-list > li > a{
    color: black;
}

/*
Animations
*/
.animated-btn {
    animation-name: push;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
    animation-duration: 0.2s;
}
@keyframes push {
    from {
        box-shadow: 0 0 0 0 rgba(250, 250, 210, 0);
        border-color: black;
        color: black;
        background-color: rgba(239, 239, 239);
    }
    50% {
        box-shadow: 0 0 30px 10px rgba(250, 250, 210, .7);
        border-color: lightgoldenrodyellow;
        color: lightgoldenrodyellow;
        background-color: rgba(255, 255, 0, 0.5);
    }
    to {
        box-shadow: 0 0 50px 25px rgba(250, 250, 210, 0);
        border-color: black;
        color: black;
        background-color: rgba(239, 239, 239);
    }
}
.blinking-title {
    animation-name: blink-title;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink-title {
    from {
        color: black;
    }
    to {
        color: white;
    }
}

.loading-bar__LOADING {
    opacity: 1;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes loading {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}